
@media screen and (max-height:450px){
    #navbar{
      padding-top:15px;
    }
    #navbar a{
      font-size:15px;
    }
  }
  body {
      min-width: 290px;
      color: #4d4e53;
      background-color: #ffffff;
      font-family: 'Open Sans', Arial, sans-serif;
      line-height: 1.5;
  }